In [1]:
## Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Check purchase_data info for nulls
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [3]:
# find number of players using their Screen Names
num_players = purchase_data['SN'].nunique()
# set dictionary of list then print
num_players_dict = {"Total Players": [num_players]}
num_players_df = pd.DataFrame(num_players_dict)
num_players_df

   Total Players
0            576

In [4]:
# find number of unique_items
num_unique_items = len(purchase_data['Item ID'].value_counts())
num_unique_items

183

In [5]:
# find number of purchases
num_purchase = len(purchase_data['Purchase ID'])
num_purchase

780

In [6]:
# find total revenue
total_revenue = round(sum(purchase_data['Price']),2)
print(f'${total_revenue}')

$2379.77

In [7]:
# find average purchase price
average_purchase_price = round(purchase_data['Price'].mean(),2)
average_purchase_price
print(f'${average_purchase_price}')

$3.05

In [8]:
# print output
#set dictionary of lists
summary_table_dict = {"Number of Unique items": [num_unique_items],
                     "Numer of Purchases":[num_purchase],
                     "Total Revenue":[total_revenue],
                     "Average Price":[average_purchase_price]}
summary_table_df = pd.DataFrame(summary_table_dict)
summary_table_df

   Number of Unique items  Numer of Purchases  Total Revenue  Average Price
0                     183                 780        2379.77           3.05

In [9]:
# GENDER DEMOGRAPHICS
# need to clean up DF and remove duplicate SNs

# Gender Count
gender_count_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_count_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
# Gender Percentage
gender_percentage_df = round((gender_count_df/num_players)*100,2)
gender_percentage_df

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [11]:
#Gender demographics DataFrame.

gender_demographics_df = pd.DataFrame({"Total Count": gender_count_df,"Percentage of Players":gender_percentage_df})
gender_demographics_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [12]:
# Purchasing Analysis

In [13]:
# find purchase per gender
gender_purchases_df = purchase_data.groupby("Gender")["Item Name"].count()
gender_purchases_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [14]:
# find avg purchase price per gender
gender_average_df = round(purchase_data.groupby("Gender")["Price"].mean(),2)
gender_average_df

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
# find total purchase price per gender
gender_total_df = purchase_data.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
avg_tot_per_person_df = round(gender_total_df/gender_count_df,2)
avg_tot_per_person_df

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [17]:
# Purchasing analysis DataFrame by gender.

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":gender_average_df,
                                   "Total Purchase Value":gender_total_df,
                                   "Average total Purchase per person":avg_tot_per_person_df})
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:.2f}".format)
gender_analysis_df["Average total Purchase per person"] = gender_analysis_df["Average total Purchase per person"].map("${:.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average total Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
## Age Demographics
# Create the bins in which Data will be held
# Bins are 0, 59, 69, 79, 89, 100.   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [19]:
# find total purchases by age group
age_group_tot = purchase_data.groupby('Age Groups')['SN'].nunique()
age_group_tot

Age Groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [20]:
# find percentage of age group
age_group_pct = round(age_group_tot/num_players*100,2)
age_group_pct

Age Groups
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [21]:
age_demo_df = pd.DataFrame({"Total Count":age_group_tot, "Percentage of Players":age_group_pct})
age_demo_df

            Total Count  Percentage of Players
Age Groups
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
40+                  12                   2.08

In [22]:
# Age Purchase Analysis
age_group_pur_ct = purchase_data.groupby('Age Groups')['Price'].count()
age_group_pur_ct

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [23]:
#find total purchase value
tot_pur_val = purchase_data.groupby('Age Groups')['Price'].sum()
tot_pur_val

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [24]:
# find average purchase price
avg_pur_price = round(tot_pur_val/age_group_pur_ct,2)
avg_pur_price

Age Groups
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [25]:
# find average total purchase per person
avg_tot_pur_person = round(tot_pur_val/age_group_tot,2)
avg_tot_pur_person

Age Groups
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [26]:
# Purchase Analysis (Age)
purchase_analysis_age_df = pd.DataFrame({"Purchase Count":age_group_pur_ct, "Average Purchase Price":avg_pur_price,
                                        "Total Purchase Value":tot_pur_val,"Average total Purchase per Person":avg_tot_pur_person})
purchase_analysis_age_df["Average total Purchase per Person"] = purchase_analysis_age_df["Average total Purchase per Person"].map("${:.2f}".format)
purchase_analysis_age_df["Average Purchase Price"] = purchase_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age_df["Total Purchase Value"] = purchase_analysis_age_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [27]:
# Top Spenders

In [28]:
SN_purchase_ct = purchase_data.groupby('SN')['Price'].count()
SN_purchase_ct.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Price, dtype: int64

In [29]:
SN_tot_pur_val = purchase_data.groupby('SN')['Price'].sum()
SN_tot_pur_val.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [30]:
SN_avg_pur = round(SN_tot_pur_val/SN_purchase_ct,2)
SN_avg_pur.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [31]:
# Top Spender DataFrame
Top_Spender_df = pd.DataFrame({"Purchase Count":SN_purchase_ct,"Average Purchase Price":SN_avg_pur,
                             "Total Purchase Value":SN_tot_pur_val})

# Sort has to come first
Top_Spender_df = Top_Spender_df.sort_values("Total Purchase Value", ascending=False)

Top_Spender_df["Average Purchase Price"] = Top_Spender_df["Average Purchase Price"].map("${:.2f}".format)
Top_Spender_df["Total Purchase Value"] = Top_Spender_df["Total Purchase Value"].map("${:.2f}".format)

Top_Spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [32]:
# Most Popular Items

In [33]:
# find purchase count grouping by ITEM ID and ITEM NAME
pop_pur_count = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()
pop_pur_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [34]:
# find total purchase value
pop_tot_pur_val = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum()
pop_tot_pur_val.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [35]:
# call item price. Used .mean() because it would return the same size array. 
# taking the mean gives back the price anyway because it will always sum up the same number 
pop_item_price = purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean()
pop_item_price.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [36]:
# Most Popular items Print out
Most_pop_df = pd.DataFrame({"Purchase Count":pop_pur_count,"Item Price":pop_item_price,
                             "Total Purchase Value":pop_tot_pur_val})

Most_pop_df = Most_pop_df.sort_values("Purchase Count", ascending=False)
Most_pop_df["Item Price"] = Most_pop_df["Item Price"].map("${:.2f}".format)
Most_pop_df["Total Purchase Value"] = Most_pop_df["Total Purchase Value"].map("${:.2f}".format)

Most_pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [37]:
## Most Profitable

In [53]:
## Previous df was already sorted by purchase count. Tried resetting the index. 
## Figured I'd just recreate DF under different variable

Most_prof = pd.DataFrame({"Purchase Count":pop_pur_count,"Item Price":pop_item_price,
                             "Total Purchase Value":pop_tot_pur_val})

Most_prof = Most_prof.sort_values("Total Purchase Value", ascending=False)
Most_prof["Item Price"] = Most_prof["Item Price"].map("${:.2f}".format)
Most_prof["Total Purchase Value"] = Most_prof["Total Purchase Value"].map("${:.2f}".format)
Most_prof.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80